@import 'style/mixin.scss';
@import 'style/base.scss';

.input_box {
    margin-top: 50px;
    .sign_btn {
        background-color: $apply-bgcolor;
        border-color: $apply-bgcolor;
        padding:  8px 15px;
        margin: 0 20px;
    }
    .refresh_btn {
        background-color: $exit-bgcolor;
        border-color: $exit-bgcolor;
        padding:  8px 15px;
    }
}
.sign_list {
    margin-top: 30px;
    .sign_item {
        min-height: 100px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
        .item_head {
            text-align: center;
            @include hl(60px);
            font-size: 16px;
            font-weight: bold;
        }
        .item_body {
            width: 100%;
            padding: 20px 10px;
            .item {
                padding: 0 5px;
                @include hl(40px);
                display: flex;
                border-bottom: 1px solid #f2f3f4;
                p {
                    font-size: 15px;
                    width: 45%;
                }
                &:first-child {
                    .state {
                        color: red;
                    }
                }
                .icon {
                    font-size: 18px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}