@import 'style/base.scss';

.btn-apply {
    background-color: $apply-bgcolor !important;
    border-color: $apply-bgcolor !important;
}

.btn-interview {
    background-color: $interview-bgcolor !important;
    border-color: $interview-bgcolor !important;
}

#input {
    border: none;
    border-bottom: 1px solid #f2f3f4;
    border-radius: none;
    box-shadow: none;
}