@import 'style/mixin.scss';
@import 'style/base.scss';

.list_box {
    margin-top: 30px;
    padding-bottom: 30px;
    .list_container {
        padding: 20px;
        margin-bottom: 30px;
        @include wm(98%);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    }
    .list_head {
        @include fj;
        padding: 0 30px;
        .apply_sum {
            margin-top: 10px;
        }
        .btn_result, .btn_modify {
            font-size: 14px;
        }
        .btn_modify {
            margin-left: 20px;
        }
    }
    .list_content {
        padding: 20px;
        .thead {
            @include sc(14px, #757575);
            padding: 18px 0;
            border-bottom: 1px solid $border-color;
        }
        .tbody {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
            transition: all .5s;
            &:hover {
                background-color: #f2f3f4;
            }
            .detail_btn {
                background-color: $apply-bgcolor;
                border-color: $apply-bgcolor;
                width: 80%;
            }
            .user_pass {
                font-size: 15px;
                color: #757575;
            }
            .pass_btn {
                margin-left: 30px;
                font-size: 14px;
            }
        }
    }
    .list_pagination_box {
        @include wh(100%, 40px);
        .list_pagination {
            @include cl;
        }
    }
}